#brand-header {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Stolzl';
  color: #0F1A34;
  font-weight: bold;
}

.nav-text {
  font-size: 13px;
  font-family: 'Stolzl';
  font-weight: 500;
  line-height: 19.5px;
}

.catalog-clothes {
  font-family: 'Stolzl';
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
}

.sort_filter {
  width: 120px;
  font-family: 'Stolzl';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #5C5F60;
}

.filter {
  font-family: 'Stolzl';
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #5C5F60;
}

//.section-wrap 

.accordion-button {
  font-family: 'Stolzl';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color:  #444748!important;
}

.bg-secondary {
  background-color: transparent!important;
}

.brand__prod {
  font-family: 'Stolzl';
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  color: #5C5F60;
}

.descr_product {
  font-family: 'Stolzl';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #2D3132;
  align-self: stretch;
  order: 1;
  margin-top: 4px;
}

.page-link {
  color: #5C5F60!important;
}

footer {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2D3132;

}